{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'detail.css' %}">
</head>
<body>
    <header class="set1">
        OVERVIEW OF COURSES:
    </header>
    <section class="set">
        <div class="demo">
            <h3 class="head">Who this course is for?</h3>
            <ul>
                <li>This package is designed for any undergraduates or job seekers and laterals to enhance their technical knowledge with BE/ BTech, B.Sc, BCA, MCA, M.Tech/ ME, M.Sc and other technical graduations. </li>
                <li> One who is already working on Python full stack development or C# Full stack or even Mean stack developers to get into a full stack development on Python. </li>
                <li>Any Software engineer who are interested in web application development based technologies.Freshers/ Under graduates/ Graduates/ Post graduates/ Software developers</li>
            </ul>
        </div>
        <div class="demo">
            <h3 class="head">Why take this course?</h3>
            <ul>
                <li>This course is blended with IT industry experience where even a fresher can start working on project in IT industry easily. </li>
                <li>This package gives desired knowledge on application development which is the entry level criteria for any interview. </li>
                <li>This package gives confidence to a fresher to start working on a developing a project from the day of joining. </li>
                <li> This course will give you the complete aspects of building an enterprise application.</li>
            </ul>
        </div>
        <div class="demo">
            <h3 class="head">What you will learn?</h3>
            <ul>
                <li>This package is designed for any undergraduates or job seekers and laterals to enhance their technical knowledge with BE/ BTech, B.Sc, BCA, MCA, M.Tech/ ME, M.Sc and other technical graduations. </li>
                <li> The course will help you to learn how to Design, develop, modify, and debug software code according to functional, non-functional and technical design specifications of a web application using Python platform</li>
                <li> How to build the user interface or front end by using technologies like HTML, CSS & Python script.</li>
                <li> You will learn to design and develop the database by using concepts of RDBMS and SQL. </li>
                <li> You will learn to develop business components using python language with OOPS concepts. </li>
                <li> Advanced application development frameworks like DJango & Flask will be thought with 2 projects.</li>
            </ul>
        </div>
        <br> <br>
        <div class="demo">
            <h3 class="head">Description</h3>
            <ul>
                <p>Python Full Stack course is more of job-oriented training which is designed as per current industry standards. You can start your career in IT industry with basic and advance skills. Course will be trained by top industry experts who have passion to train students and help them get job in IT industry or excel in IT industry.</p>
            </ul>
        </div>
    </section>
</body>
</html>